<div class="container">
  <h1>Add Restaurant</h1>
  <!-- form_with will build the form using the empty instance you give it -->
  <!-- <form action="/restaurants" method="post"></form> -->
  <%= render 'restaurants/form' %>
</div>
